<p>
  <a href="{{site.wvu_site}}">WVU Research Computing</a>
  team helps researchers optimize their interaction with our
  High-Performance Computing clusters.
  This workshop teaches the basic skills needed to work effectively with HPC
  clusters.
  The workshop will cover basic concepts and tools, including accessing and
  using WVU's HPC clusters. Write efficient Python scripts and develop python
  applications and using machine learning techniques to answer challenging
  research questions.

  Participants will be encouraged to help one another and to apply what they
  have learned to their own research problems.

  This workshop is not aimed to HPC system administrators or advanced scientific
  software developers, the concepts are presented to offer a pragmatic overview
  of several topics, with the knowledge that can be transferred directly to
  current research projects.
</p>
<p align="center">
  <em>
    For a very practical overview of Scientific Computing best practices, this document is recommended:
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
