<div class="row">
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2019-Intro-HPC" >Workshop 1 Day 1 (Introduction to High-Performance Computing)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction to HPC</td> </tr>
      <tr> <td>10:00</td>  <td>The Command Line Interface</td> </tr>
      <tr> <td>11:30</td>  <td>Text Editors in Linux</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Environment Modules</td> </tr>
      <tr> <td>14:30</td>  <td>Compile code on the cluster</td> </tr>
      <tr> <td>15:00</td>  <td>Job Submission and Monitoring</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2019-Intro-HPC" >Workshop 1 Day 2 (Introduction to High-Performance Computing)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Transfer files in and out the cluster</td> </tr>
      <tr> <td>10:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>11:00</td>  <td>Software Containers (Singularity)</td> </tr>
      <tr> <td>12:00</td>  <td>Package and Environemnt Management (Conda)</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Shell Programming</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2019-Python" >Workshop 2 Day 1 (Python in HPC)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction to Python Programming</td> </tr>
      <tr> <td>10:00</td>  <td>Simple Data Types</td> </tr>
      <tr> <td>11:00</td>  <td>Tuples, Sequences, Lists and Dictionaries</td> </tr>
      <tr> <td>12:00</td>  <td>Methods, Classes and Modules</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>The Python Standard Library</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2019-Python" >Workshop 2 Day 2 (Python in HPC)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Scientific Computing with Python</td> </tr>
      <tr> <td>10:00</td>  <td>Numpy</td> </tr>
      <tr> <td>11:00</td>  <td>Scipy</td> </tr>
      <tr> <td>12:00</td>  <td>Matplotlib</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Pandas</td> </tr>
      <tr> <td>15:00</td>  <td>Cython</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2019-Machine-Learning" >Workshop 3 Day 1 (Machine Learning with Python)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction</td> </tr>
      <tr> <td>10:00</td>  <td>Data Cleaning, Imputation, Cross-Validation</td> </tr>
      <tr> <td>10:30</td>  <td>Linear and Logistic Regression</td> </tr>
      <tr> <td>11:30</td>  <td>Linear Classifiers</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Decision trees and random forest</td> </tr>
      <tr> <td>14:00</td>  <td>Navie Bayes and Kernel Methods</td> </tr>
      <tr> <td>15:00</td>  <td>Clustering: K-means and Hierarchical Clustering</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2019-Python" >Workshop 3 Day 2 (Machine Learning with Python)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Dimensionality reduction</td> </tr>
      <tr> <td>10:30</td>  <td>Principal and independent component analysis</td> </tr>
      <tr> <td>12:00</td>  <td>Neural Networks and Back Propagation</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Deep Learning and Convolutional Neural Networks</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
