<div class="row">
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2019-Intro-HPC" >Workshop 1 Day 1 (Introduction to High-Performance Computing)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Getting Access to the cluster</td> </tr>
      <tr> <td>10:00</td>  <td>Basics of Command Line Interface</td> </tr>
      <tr> <td>11:00</td>  <td>Text Editors (vi, emacs and nano)</td> </tr>
      <tr> <td>11:30</td>  <td>Environment Modules</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Job Submission (Torque/Moab)</td> </tr>
      <tr> <td>14:00</td>  <td>Version Control (Git)</td> </tr>
      <tr> <td>14:30</td>  <td>Transferring Files</td> </tr>
      <tr> <td>15:00</td>  <td>Software Containers (Singularity)</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2019-Intro-HPC" >Workshop 1 Day 2 (Introduction to High-Performance Computing)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Sieve of Eratosthenes</td> </tr>
      <tr> <td>10:00</td>  <td>Interpreted Languages: (Python and R)</td> </tr>
      <tr> <td>11:00</td>  <td>C/C++: Traditional computing</td> </tr>
      <tr> <td>11:30</td>  <td>Fortran: Intensive numerics</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Julia: The best of two worlds</td> </tr>
      <tr> <td>14:00</td>  <td>Cython: Accelerated Python</td> </tr>
      <tr> <td>15:00</td>  <td>R: Accelerated with compiled code</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2019-Python" >Workshop 2 Day 1 (Python in HPC)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Processing Text Files with grep and awk</td> </tr>
      <tr> <td>10:00</td>  <td>Using Regular Expressions with Python</td> </tr>
      <tr> <td>10:30</td>  <td>Structured Text (XML and JSON)</td> </tr>
      <tr> <td>11:30</td>  <td>Binary Formats (NetCDF and HDF5)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Creating simple Databases with SQLite</td> </tr>
      <tr> <td>14:00</td>  <td>No-SQL databases with MongoDB</td> </tr>
      <tr> <td>15:00</td>  <td>Machine Learning: Scikit-Learn, Keras, and TensorFlow</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2019-Python" >Workshop 2 Day 2 (Python in HPC)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction to Parallel Computing</td> </tr>
      <tr> <td>10:00</td>  <td>Embarrassing Parallel Jobs</td> </tr>
      <tr> <td>11:00</td>  <td>Multithreading (OpenMP)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Multiprocessing (MPI)</td> </tr>
      <tr> <td>15:00</td>  <td>HPC Accelerators (Cuda)</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2019-Machine-Learning" >Workshop 3 Day 1 (Machine Learning with Python)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Processing Text Files with grep and awk</td> </tr>
      <tr> <td>10:00</td>  <td>Using Regular Expressions with Python</td> </tr>
      <tr> <td>10:30</td>  <td>Structured Text (XML and JSON)</td> </tr>
      <tr> <td>11:30</td>  <td>Binary Formats (NetCDF and HDF5)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Creating simple Databases with SQLite</td> </tr>
      <tr> <td>14:00</td>  <td>No-SQL databases with MongoDB</td> </tr>
      <tr> <td>15:00</td>  <td>Machine Learning: Scikit-Learn, Keras, and TensorFlow</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2019-Python" >Workshop 3 Day 2 (Machine Learning with Python)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction to Parallel Computing</td> </tr>
      <tr> <td>10:00</td>  <td>Embarrassing Parallel Jobs</td> </tr>
      <tr> <td>11:00</td>  <td>Multithreading (OpenMP)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Multiprocessing (MPI)</td> </tr>
      <tr> <td>15:00</td>  <td>HPC Accelerators (Cuda)</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
