<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">Introduction to HPC</h3>
    <ul>
      <li>Accessing an HPC Cluster</li>
      <li>Files, Folders, and Symbolic Links</li>
      <li>Pipes and Redirection</li>
      <li>Bash Scripting</li>
      <li>Job Submission and Control</li>
      <li>Job Prologue and Epilogue. Using Job Arrays</li>
      <li>Singularity Containers</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python">Python in HPC</h3>
    <ul>
      <li>Loops and conditionals</li>
      <li>Lists</li>
      <li>Input and Output</li>
      <li>Functions</li>
      <li>Classes</li>
      <li>Debugging and Profiling</li>
      <li>Numpy and Scipy</li>
      <li>Matplotlib</li>
      <li>Cython</li>
    </ul>
  </div>

  <!--
  <div class="col-md-6">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Working with vectors and data frames</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Using R from the command line</li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>
  -->
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-matlab">Programming in MATLAB</h3>
    <ul>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li><a href="{{site.swc_pages}}/matlab-novice-inflammation/reference">Reference...</a></li>
     </ul>
   </div>
   -->
</div>

<div class="row">
<div class="col-md-6">
  <h3 id="syllabus-python">Machine Learning with Python</h3>
  <ul>
    <li>Clustering</li>
    <li>Clasification</li>
    <li>Trees and Forests</li>
    <li>Metaheuristics</li>
    <li>Neural Networks</li>
  </ul>
</div>
<!--
  <div class="col-md-6">
    <h3 id="syllabus-git">Data Processing</h3>
    <ul>
      <li>Text files</li>
      <li>Compressed Files</li>
      <li>XML and JSON</li>
      <li>NetCDF and HDF5</li>
      <li>SQL (SQLite)</li>
      <li>No-SQL (MongoDB)</li>
      <li>Machine Learning (Scikit-Learn, Keras and TensorFlow)</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-sql">Parallel Programming</h3>
    <ul>
      <li>Embarrassing Parallelism (GNU parallel)</li>
      <li>Multithreading (OpenMP)</li>
      <li>Multiprocessing (MPI)</li>
      <li>HPC Accelerators (Cuda)</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Basic functions</li>
      <li>Advanced Functions</li>
      <li><a href="{{site.lc_pages}}library-openrefine/reference">Reference...</a></li>
    </ul>
  </div>
  -->
</div>
