<p id="who">
  <strong>Who:</strong>
  The course is aimed at WVU graduate students and researchers as well as
  other West Virginia students and researchers who can get access to WVU
  resources via collaborations with WVU researchers. External attendants can
  take benefit of these lectures, especially if they
  have access to their own HPC cluster or can reproduce exercises on their own
  machines.

  <strong>
  Some familiarity with Unix/Linux and basic programming is a recommended. The
  first lesson, however,
  lowers this requirement for new users willing to get access and explore the
  advantages that High-Performance
  Computing (HPC) infrastructure can offer to boost their research.
  </strong>
</p>
